# LOG REPORT  
Debug:  
2017-12-19_15:31:54 | DEBUG | This is Debug #1.  
INFO:  
2017-12-19_15:31:54 | INFO | This is Info #1.  
INFO:  
2017-12-19_15:31:54 | INFO | This is Info #2. The 1D array is:  
[1 2 3 4 5 6]  
### ERROR:  
**2017-12-19_15:31:54 | ERROR | This is Error #1. The 2D array is:**  
  
| Column 0 | Column 1 | Column 2 |
 | :---- | :---- | :---- |
| 1 | 2 | 3 |
| 2 | 4 | 6 |
| 3 | 6 | 9 |
| 4 | 8 | 12 |
**WARNING:**  
***2017-12-19_15:31:54 | WARNING | This is Warning #1. A critical error is going to occur!***  
## CRITICAL:  
**2017-12-19_15:31:54 | CRITICAL | This is Critical #1. The DataFrame is:**  
  
| Union | Double | Triple |
 | :---- | :---- | :---- |
| 1 | 2 | 3 |
| 2 | 4 | 6 |
| 3 | 6 | 9 |
| 4 | 8 | 12 |
**WARNING:**  
***2017-12-19_15:31:54 | WARNING | This is Warning #2. Ignored the critical failure.***  
Debug:  
2017-12-19_15:31:54 | DEBUG | This is Debug #2. About to end.  
INFO:  
2017-12-19_15:31:54 | INFO | This is Info #3: Finished.  
### End Report  
